In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import cross_validate
from scipy import optimize

from sklearn import preprocessing
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import DotProduct, WhiteKernel
from sklearn.model_selection import train_test_split

In [7]:
dataset_folder = "C:/Users/samsung/Desktop/Nouveau dossier/Etude de Cas Decisionnelle/data"
meta = pd.read_csv(f"{dataset_folder}/training_set_metadata.csv")
lc = pd.read_csv(f"{dataset_folder}/training_set.csv")

In [3]:
lc.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [4]:
targetTypes={6:'Microlensing', 15:'Explosive_V', 16:'Transits', 42:'Explosive_W', 52:'Explosive_X', 
                  53:'Long Periodic', 62:'Explosive_Y', 64:'Near Burst', 65:'Flare', 67:'Explosive_Z',
                  88:'AGN', 90:'SN_U', 92:'Periodic', 95:'SN_T'}
#targetTypes

In [8]:
groups = lc.groupby(['object_id', 'passband'])
times = groups.apply(lambda block: block['mjd'].values).reset_index().rename(columns={0: 'seq'})
flux = groups.apply(lambda block: block['flux'].values).reset_index().rename(columns={0: 'seq'})
err = groups.apply(lambda block: block['flux_err'].values).reset_index().rename(columns={0: 'seq'})
det = groups.apply(lambda block: block['detected'].astype(bool).values).reset_index().rename(columns={0: 'seq'})
times_list = times.groupby('object_id').apply(lambda x: x['seq'].tolist()).tolist()
flux_list = flux.groupby('object_id').apply(lambda x: x['seq'].tolist()).tolist()
err_list = err.groupby('object_id').apply(lambda x: x['seq'].tolist()).tolist()
det_list = det.groupby('object_id').apply(lambda x: x['seq'].tolist()).tolist()
object_list=times.groupby('object_id').apply(lambda x: x['object_id'].unique()[0]).tolist()
for t in sorted(meta['target'].unique()):
     obje= [t,meta[meta['target']== t]['target'].count(),targetTypes[t],meta[meta['target']== t]['hostgal_specz'].mean()]
     display(obje)

[6, 151, 'Microlensing', 0.0]

[15, 495, 'Explosive_V', 0.24357676767676767]

[16, 924, 'Transits', 0.0]

[42, 1193, 'Explosive_W', 0.22996244761106419]

[52, 183, 'Explosive_X', 0.22970601092896167]

[53, 30, 'Long Periodic', 0.0]

[62, 484, 'Explosive_Y', 0.19497045454545456]

[64, 102, 'Near Burst', 0.07439803921568627]

[65, 981, 'Flare', 0.0]

[67, 208, 'Explosive_Z', 0.22544855769230773]

[88, 370, 'AGN', 0.9679970270270275]

[90, 2313, 'SN_U', 0.3630812797233031]

[92, 239, 'Periodic', 0.0]

[95, 175, 'SN_T', 1.217438285714286]

In [10]:
times.head()

   object_id  passband                                                seq
0        615         0  [59819.1532, 59820.1047, 59821.1026, 59822.110...
1        615         1  [59750.4306, 59752.4147, 59767.3045, 59770.225...
2        615         2  [59750.4229, 59752.407, 59767.2968, 59770.2179...
3        615         3  [59750.4383, 59752.4224, 59767.3122, 59770.233...
4        615         4  [59750.445, 59752.4334, 59767.3233, 59770.2445...

In [11]:
flux.head()

   object_id  passband                                                seq
0        615         0  [6.878784, 39.364853000000004, -10.422381, -65...
1        615         1  [-816.4343259999999, -1061.4570310000001, -815...
2        615         2  [-544.810303, -681.858887, -548.01355, -554.90...
3        615         3  [-471.385529, -524.95459, -475.51605199999995,...
4        615         4  [-388.984985, -393.480225, -405.663818, -400.2...

In [12]:
err.head()

   object_id  passband                                                seq
0        615         0  [3.6331519999999995, 3.7756190000000003, 4.172...
1        615         1  [5.55337, 6.472994, 5.293019, 5.875329, 6.3068...
2        615         2  [3.6229519999999997, 4.0412040000000005, 3.462...
3        615         3  [3.8012129999999997, 3.552751, 3.340643, 3.736...
4        615         4  [11.395031, 3.5993459999999997, 3.496113, 3.83...

In [9]:
det.head()

   object_id  passband                                                seq
0        615         0  [False, True, False, True, True, True, True, T...
1        615         1  [True, True, True, True, True, True, True, Tru...
2        615         2  [True, True, True, True, True, True, True, Tru...
3        615         3  [True, True, True, True, True, True, True, Tru...
4        615         4  [True, True, True, True, True, True, True, Tru...

In [13]:
lc1=lc[lc.object_id==615]
lc1.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [25]:
date1 = []
for row in lc.itertuples():
    tabl = row.mjd 
    tabl1=int(tabl)
    
    if tabl1 in date1:
        pass
    else:
        date1.append(tabl1) 
date1

[59750,
 59752,
 59767,
 59770,
 59779,
 59782,
 59797,
 59800,
 59807,
 59810,
 59813,
 59819,
 59820,
 59821,
 59822,
 59823,
 59835,
 59839,
 59842,
 59851,
 59854,
 59857,
 59864,
 59867,
 59870,
 59873,
 59874,
 59875,
 59876,
 59877,
 59878,
 59879,
 59880,
 59884,
 59887,
 60118,
 60124,
 60140,
 60141,
 60142,
 60143,
 60144,
 60145,
 60153,
 60162,
 60165,
 60168,
 60176,
 60177,
 60181,
 60184,
 60194,
 60197,
 60198,
 60199,
 60200,
 60201,
 60202,
 60206,
 60207,
 60208,
 60211,
 60221,
 60224,
 60227,
 60228,
 60229,
 60234,
 60237,
 60240,
 60249,
 60260,
 60261,
 60262,
 60263,
 60264,
 60490,
 60493,
 60499,
 60500,
 60501,
 60502,
 60508,
 60524,
 60525,
 60532,
 60535,
 60538,
 60546,
 60549,
 60554,
 60555,
 60556,
 60557,
 60558,
 60559,
 60560,
 60567,
 60574,
 60577,
 60580,
 60582,
 60583,
 60584,
 60585,
 60586,
 60587,
 60588,
 60593,
 60596,
 60603,
 60606,
 60609,
 60612,
 60613,
 60614,
 60615,
 60616,
 60617,
 60621,
 60624,
 59825,
 59896,
 59899,
 59902,
 59904,
 59905,
 59906,
 59907,
 59908,
 59909,
 59910,
 59913,
 59916,
 59924,
 59927,
 59930,
 59933,
 59935,
 59936,
 59937,
 59938,
 59939,
 59942,
 59945,
 60192,
 60195,
 60209,
 60212,
 60223,
 60226,
 60236,
 60238,
 60241,
 60265,
 60267,
 60270,
 60278,
 60281,
 60284,
 60287,
 60290,
 60291,
 60292,
 60293,
 60294,
 60295,
 60297,
 60300,
 60578,
 60581,
 60605,
 60608,
 60611,
 60620,
 60627,
 60632,
 60635,
 60640,
 60643,
 60644,
 60645,
 60646,
 60647,
 60648,
 60649,
 60651,
 60654,
 60662,
 60665,
 60668,
 60671,
 60672,
 60673,
 60674,
 59798,
 59801,
 59818,
 59826,
 59914,
 59934,
 60183,
 60250,
 60268,
 60633,
 60636,
 60642,
 60652,
 59808,
 59811,
 59814,
 59836,
 59866,
 59869,
 59872,
 60125,
 60164,
 60233,
 60491,
 60520,
 59582,
 59583,
 59584,
 59585,
 59586,
 59588,
 59591,
 59594,
 59618,
 59621,
 59645,
 59646,
 59649,
 59660,
 59663,
 59666,
 59670,
 59679,
 59687,
 59688,
 59690,
 59691,
 59693,
 59694,
 59701,
 59702,
 59704,
 59947,
 59957,
 59962,
 59968,
 59973,
 59976,
 59988,
 59991,
 59997,
 59998,
 59999,
 60003,
 60016,
 60019,
 60027,
 60028,
 60029,
 60031,
 60045,
 60049,
 60050,
 60051,
 60052,
 60053,
 60054,
 60055,
 60056,
 60071,
 60072,
 60076,
 60077,
 60079,
 60327,
 60330,
 60341,
 60345,
 60356,
 60359,
 60370,
 60373,
 60376,
 60381,
 60382,
 60383,
 60386,
 60400,
 60403,
 60414,
 60415,
 60427,
 60430,
 60431,
 60433,
 60434,
 60435,
 60436,
 59589,
 59592,
 59597,
 59598,
 59601,
 59625,
 59633,
 59634,
 59652,
 59655,
 59657,
 59659,
 59683,
 59685,
 59843,
 59849,
 59850,
 59859,
 59861,
 59898,
 59900,
 59912,
 59918,
 59919,
 59921,
 59926,
 59928,
 59946,
 59953,
 59954,
 59956,
 59958,
 59966,
 59980,
 60001,
 60008,
 60012,
 60037,
 60038,
 60040,
 60063,
 60066,
 60179,
 60215,
 60217,
 60242,
 60244,
 60272,
 60280,
 60282,
 60296,
 60301,
 60303,
 60310,
 60328,
 60335,
 60336,
 60360,
 60362,
 60366,
 60389,
 60393,
 60413,
 60418,
 60420,
 60426,
 60541,
 60571,
 60599,
 60604,
 60607,
 60622,
 60628,
 60630,
 60656,
 60660,
 60663,
 60666,
 59603,
 59623,
 59628,
 59658,
 59684,
 59686,
 59711,
 59713,
 59714,
 59718,
 59724,
 59897,
 59903,
 59911,
 59920,
 59922,
 59931,
 59941,
 59964,
 59979,
 59983,
 59986,
 59990,
 59995,
 60011,
 60013,
 60018,
 60026,
 60041,
 60042,
 60068,
 60069,
 60078,
 60095,
 60096,
 60099,
 60102,
 60251,
 60274,
 60276,
 60306,
 60312,
 60315,
 60316,
 60329,
 60331,
 60334,
 60354,
 60355,
 60368,
 60371,
 60372,
 60387,
 60395,
 60396,
 60398,
 60421,
 60429,
 60441,
 60454,
 60462,
 60464,
 60468,
 60626,
 60629,
 60650,
 60657,
 60659,
 60661,
 60667,
 59715,
 59722,
 59728,
 59730,
 59754,
 59772,
 59777,
 59778,
 59781,
 59783,
 59789,
 59793,
 59799,
 59804,
 59806,
 59812,
 59817,
 59844,
 59860,
 60057,
 60065,
 60080,
 60087,
 60111,
 60119,
 60123,
 60126,
 60127,
 60133,
 60138,
 60146,
 60148,
 60149,
 60151,
 60166,
 60180,
 60187,
 60203,
 60218,
 60394,
 60416,
 60443,
 60445,
 60447,
 60461,
 60466,
 60483,
 60495,
 60496,
 60497,
 60503,
 60505,
 60506,
 60507,
 60510,
 60515,
 60528,
 60530,
 60533,
 60536,
 60543,
 60548,
 60552,
 60553,
 60590,
 60610,
 59596,
 59627,
 59630,
 59681,
 59689,
 59692,
 59858,
 59863,
 59868,
 59915,
 59978,
 59985,
 59992,
 60036,
 60158,
 60185,
 60216,
 60245,
 60247,
 60269,
 60275,
 60286,
 60314,
 60338,
 60379,
 60385,
 60419,
 60422,
 60539,
 60568,
 60569,
 60598,
 60601,
 60655,
 60658,
 59610,
 59614,
 59626,
 59638,
 59653,
 59721,
 59923,
 59944,
 59965,
 59972,
 59982,
 59987,
 60002,
 60014,
 60015,
 60017,
 60032,
 60043,
 60070,
 60091,
 60100,
 60101,
 60132,
 60137,
 60318,
 60332,
 60346,
 60364,
 60365,
 60369,
 60378,
 60388,
 60397,
 60417,
 60428,
 60437,
 60442,
 60457,
 60463,
 60465,
 60485,
 60487,
 60492,
 60511,
 59710,
 59729,
 59753,
 59769,
 59834,
 60058,
 60062,
 60064,
 60067,
 60113,
 60122,
 60150,
 60159,
 60163,
 60390,
 60392,
 60498,
 60526,
 60537,
 60542,
 60545,
 59590,
 59600,
 59607,
 59615,
 59629,
 59682,
 59698,
 59917,
 59932,
 59994,
 60039,
 60073,
 60285,
 60302,
 60309,
 60323,
 60337,
 60363,
 60367,
 60399,
 60423,
 60459,
 60467,
 60634,
 60641,
 59640,
 59667,
 59675,
 59709,
 59716,
 59717,
 59771,
 59791,
 59809,
 59975,
 60009,
 60021,
 60030,
 60044,
 60046,
 60103,
 60128,
 60129,
 60131,
 60154,
 60169,
 60339,
 60375,
 60401,
 60460,
 60482,
 60484,
 60527,
 59784,
 59790,
 59803,
 59831,
 59837,
 59845,
 59855,
 59856,
 59883,
 59895,
 60094,
 60120,
 60147,
 60178,
 60182,
 60193,
 60214,
 60222,
 60225,
 60246,
 60307,
 60456,
 60494,
 60512,
 60514,
 60529,
 60531,
 60547,
 60566,
 60592,
 60595,
 60602,
 60623,
 60664,
 59696,
 59749,
 59776,
 59805,
 60022,
 60023,
 60060,
 60139,
 60161,
 60432,
 60517,
 60544,
 59761,
 59768,
 59773,
 59788,
 59796,
 59824,
 59846,
 59871,
 60082,
 60083,
 60085,
 60446,
 60509,
 60518,
 60540,
 60579,
 60589,
 60600,
 60631,
 59780,
 59827,
 59853,
 60084,
 60204,
 60534,
 60573,
 59832,
 59885,
 59886,
 59943,
 59952,
 59963,
 59993,
 60130,
 60196,
 60232,
 60243,
 60305,
 60570,
 60572,
 60669,
 59678,
 59989,
 60020,
 60025,
 60134,
 60325,
 60349,
 60350,
 60352,
 60353,
 60357,
 60405,
 60425,
 60453,
 60458,
 60486,
 60513,
 59581,
 59595,
 59648,
 59676,
 59677,
 59862,
 59967,
 60279,
 60322,
 60348,
 59599,
 59602,
 59604,
 59631,
 59650,
 59654,
 59700,
 59929,
 59951,
 60000,
 60004,
 60333,
 60340,
 60391,
 60448,
 60452,
 60670,
 59656,
 59672,
 59680,
 59766,
 59774,
 59775,
 60160,
 60380,
 60404,
 60406,
 60504,
 59787,
 59881,
 60273,
 60283,
 59620,
 59662,
 59786,
 59950,
 60010,
 60152,
 60311,
 60361,
 59668,
 59669,
 59703,
 59748,
 59756,
 59758,
 59802,
 60351,
 60402,
 60444,
 60449,
 59647,
 59665,
 59674,
 59712,
 59719,
 59723,
 60321,
 59580,
 59605,
 59643,
 59996,
 60175,
 60597,
 60086,
 59587,
 59624,
 59651,
 59840,
 60005,
 60308,
 60550,
 60591,
 59841,
 59882,
 59977,
 60277,
 60344,
 60575,
 60594,
 59757,
 60188,
 60061,
 60121,
 60210,
 60561,
 59751,
 59762,
 60522,
 60523,
 59948,
 60093,
 60326,
 59830,
 59727,
 60006,
 60059,
 60455,
 60488,
 60313,
 60271,
 59664,
 59984,
 60304,
 60320,
 59792,
 60167,
 59901,
 60090,
 59641,
 60110,
 60324,
 59609,
 59612,
 60489,
 60451,
 59699,
 59705,
 59763,
 60317,
 60319,
 59848,
 59865,
 59746,
 59611,
 60653,
 59697,
 59636,
 59613,
 60619,
 59637,
 59708,
 59608,
 60024,
 59955,
 59635,
 59639,
 59695,
 59725,
 60625,
 60521,
 59673,
 59949,
 60248,
 60565,
 59726,
 59720,
 59642,
 59593,
 60412,
 60220,
 59661,
 59617,
 60035,
 59760,
 59747,
 59838,
 60239,
 59785,
 59974,
 59852,
 59606,
 60384,
 60519,
 60576,
 59829,
 59622]

In [26]:
l=len(date1)
l

951

In [27]:
lobj=len(object_list)
lobj

7848

In [17]:
lc2=lc1.copy()
dateObjei=[]
passObjei=[]
y = lc2[["flux","flux_err","detected"]]  
for i in lc2.itertuples():
    tabli = i.mjd 
    tablj = i.passband 
    tabl1i=int(tabli)   
    dateObjei.append(tabl1i)
    passObjei.append(tablj)
X = pd.DataFrame(dateObjei,columns=['mjd'])
X2 = pd.DataFrame(dateObjei,columns=['passband'])  
X.loc[:,"passband"]=passObjei   
gaussian = GaussianProcessRegressor()
gaussian.fit(X,y)

GaussianProcessRegressor(alpha=1e-10, copy_X_train=True, kernel=None,
             n_restarts_optimizer=0, normalize_y=False,
             optimizer='fmin_l_bfgs_b', random_state=None)

In [34]:
#df1=pd.Dataframe()
for j in date1:  
    for i in range(0,6):
        data1 = [[j, i]]
        X1 = pd.DataFrame(data1,columns=['mjd','passband'])
        y1 = gaussian.predict(X1)[0]
        data = [[615,j,i,y1[0],y1[1],y1[2]]]
        df = pd.DataFrame(data,columns=['object_id','mjd','passband','flux','flux_err','detected'])
        df1=df1.append(df) 
        
df1.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952       1.0
1        615  59750.4306         1 -816.434326   5.553370       1.0
2        615  59750.4383         3 -471.385529   3.801213       1.0
3        615  59750.4450         4 -388.984985  11.395031       1.0
4        615  59752.4070         2 -681.858887   4.041204       1.0

In [35]:
df1

    object_id         mjd  passband          flux      flux_err      detected
0         615  59750.4229         2 -5.448103e+02  3.622952e+00  1.000000e+00
1         615  59750.4306         1 -8.164343e+02  5.553370e+00  1.000000e+00
2         615  59750.4383         3 -4.713855e+02  3.801213e+00  1.000000e+00
3         615  59750.4450         4 -3.889850e+02  1.139503e+01  1.000000e+00
4         615  59752.4070         2 -6.818589e+02  4.041204e+00  1.000000e+00
5         615  59752.4147         1 -1.061457e+03  6.472994e+00  1.000000e+00
6         615  59752.4224         3 -5.249546e+02  3.552751e+00  1.000000e+00
7         615  59752.4334         4 -3.934802e+02  3.599346e+00  1.000000e+00
8         615  59752.4435         5 -3.558868e+02  1.042192e+01  1.000000e+00
9         615  59767.2968         2 -5.480136e+02  3.462291e+00  1.000000e+00
10        615  59767.3045         1 -8.151886e+02  5.293019e+00  1.000000e+00
11        615  59767.3122         3 -4.755161e+02  3.340643e+00  1.000000e+00
12        615  59767.3233         4 -4.056638e+02  3.496113e+00  1.000000e+00
13        615  59767.3343         5 -4.211991e+02  6.377517e+00  1.000000e+00
14        615  59770.2179         2 -5.549032e+02  3.927843e+00  1.000000e+00
15        615  59770.2256         1 -8.200428e+02  5.875329e+00  1.000000e+00
16        615  59770.2334         3 -4.770047e+02  3.736262e+00  1.000000e+00
17        615  59770.2445         4 -4.002704e+02  3.834955e+00  1.000000e+00
18        615  59770.2557         5 -4.152869e+02  7.435979e+00  1.000000e+00
19        615  59779.3188         2 -6.305237e+02  4.333287e+00  1.000000e+00
20        615  59779.3265         1 -9.210025e+02  6.306800e+00  1.000000e+00
21        615  59779.3342         3 -5.185340e+02  3.915225e+00  1.000000e+00
22        615  59779.3452         4 -4.221845e+02  4.089213e+00  1.000000e+00
23        615  59779.3562         5 -4.228151e+02  8.124096e+00  1.000000e+00
24        615  59782.1897         2 -2.800395e+02  2.819228e+00  1.000000e+00
25        615  59782.1974         1 -4.490956e+02  4.028310e+00  1.000000e+00
26        615  59782.2051         3 -3.167049e+02  3.491153e+00  1.000000e+00
27        615  59782.2162         4 -3.328854e+02  4.021619e+00  1.000000e+00
28        615  59782.2274         5 -3.650758e+02  8.514805e+00  1.000000e+00
29        615  59797.2861         2  3.913992e+02  3.098059e+00  1.000000e+00
..        ...         ...       ...           ...           ...           ...
0         615  60384.0000         0  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60384.0000         1  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60384.0000         2  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60384.0000         3  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60384.0000         4  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60384.0000         5  0.000000e+00  0.000000e+00  0.000000e+00
0         615  60519.0000         0  1.013872e-04  6.116532e-06  2.329170e-06
0         615  60519.0000         1  6.149445e-05  3.709864e-06  1.412713e-06
0         615  60519.0000         2  1.372127e-05  8.277826e-07  3.152189e-07
0         615  60519.0000         3  1.126310e-06  6.794854e-08  2.587474e-08
0         615  60519.0000         4  3.401162e-08  2.051868e-09  7.813495e-10
0         615  60519.0000         5  3.778350e-10  2.279419e-11  8.680009e-12
0         615  60576.0000         0 -5.203830e+02  3.533451e+00  4.114611e-01
0         615  60576.0000         1 -6.917520e+02  4.396620e+00  7.286562e-01
0         615  60576.0000         2 -2.800673e+02  2.262759e+00  7.276787e-01
0         615  60576.0000         3 -8.138400e+01  2.321462e+00  7.274209e-01
0         615  60576.0000         4  1.287779e+02  2.989862e+00  7.273986e-01
0         615  60576.0000         5  1.811423e+02  6.578467e+00  7.273979e-01
0         615  59829.0000         0 -4.684932e-06  9.838766e-08  5.442607e-11
0         615  59829.0000         1 -3.992452e-06  8.993267e-08  1.004740e-08
0         615  59829.0000         2 -1.120155e-06  4.633576e-08  1.406967e-08
0         615  59829.0000         3 -2.165545e-06  4.852716e-08  1.513010e-08
0         615  59829.0000         4 -3.049040e-06  5.449273e-08  1.522206e-08
0         615  59829.0000         5 -4.012151e-06  1.058802e-07  1.522490e-08
0         615  59622.0000         0  0.000000e+00  0.000000e+00  0.000000e+00
0         615  59622.0000         1  0.000000e+00  0.000000e+00  0.000000e+00
0         615  59622.0000         2  0.000000e+00  0.000000e+00  0.000000e+00
0         615  59622.0000         3  0.000000e+00  0.000000e+00  0.000000e+00
0         615  59622.0000         4  0.000000e+00  0.000000e+00  0.000000e+00
0         615  59622.0000         5  0.000000e+00  0.000000e+00  0.000000e+00

[34588 rows x 6 columns]